@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
    background:#C0C0C0;
    font-family: 'Roboto';
    margin-top: 60mm;
}

.login-card {
    padding: 60px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
}

.login-card h1 {
    font-weight: bold;
    text-align: center;
    margin-top: -5mm;
    margin-bottom: 0;
}

.login-card input[type=submit] {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.login-card input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login {
    text-align: center;
    font-size: 15px;
    font-family: 'Arial';
    font-weight: bold;
    height: 40px;
    padding: 0 8px;

}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-card a {
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
}

.login-card a:hover {
    opacity: 1;
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: -10mm;
}
.candado{
    margin-left: -1mm;
    margin-bottom: -1mm;


}/*Listas de Usuarios*/
/*-------------------------------------------------------------*/


.row.content {height: 1500px}


.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}


footer {
    background-color: #555;
    color: white;
    padding: 20px;
}


.col-sm-9 {
    width: 100%;
    margin-top: -40mm;
}
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {height: auto;
}

