<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Hello</title>
</head>
<body>
	<h1>Hello <span th:text="${person.name}"></span>!</h1>
	<h4>Age <span th:text="${person.age}"></span>!</h4>
	
	<table>
		<thead>
			<tr>
				<th>NAME</th>
				<th>AGE</th>
			</tr>			
		</thead>
		<tbody th:each="person : ${people}">
			<tr>
				<td th:text="${person.name}"></td>
				<td th:text="${person.age}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>