<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1>PERSON: <span th:text="${person.name}"></span> - <span th:text="${person.age}"></span> </h1>
</body>
</html>